# Data Cleaning


#### Data Types
- object - stores arbitrary strings in Python
- int64
- float
- category type
    - Category (M vs F) use cases
    - make df smaller in memory
    - assumes few unique values
    - incorporating dataset into other python libraries can use the categorical analysis
    

Convert from one type to another
- Numeric columns can be strings

#### astype() Method

df['treatment b'] = df['treatment b'].astype(str)

In [ ]:
# view dtypes
df.dtypes

# astype Method to convert column to string
df['treatment b'] = df['treatment b'].astype(str)

# change sex to a category
df['sex'] = df['sex'].astype('category')

# coerce column to numeric.  ignores error such as '-' in the columns
# converts all values as numeric.  errors set as NaN
df['treatment a'] = pd.to_numeric(df['treatment a'], errors='coerce')

In [1]:
import pandas as pd

tips = pd.read_csv('./data/tips.csv')

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.4+ KB

In [4]:
# Convert the sex column to type 'category'
tips.sex = tips.sex.astype('category')

# Convert the smoker column to type 'category'
tips.smoker = tips.smoker.astype('category')

# Print the info of tips
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB
None

Excellent! By converting sex and smoker to categorical variables, the memory usage of the DataFrame went down from 13.4 KB to 10.1KB. This may seem like a small difference here, but when you're dealing with large datasets, the reduction in memory usage can be very significant!

#### Working with numeric data

If you expect the data type of a column to be numeric (int or float), but instead it is of type object, this typically means that there is a non numeric value in the column, which also signifies bad data.

You can use the pd.to_numeric() function to convert a column into a numeric data type. If the function raises an error, you can be sure that there is a bad value within the column. You can either use the techniques you learned in Chapter 1 to do some exploratory data analysis and find the bad value, or you can choose to ignore or coerce the value into a missing value, NaN.

A modified version of the tips dataset has been pre-loaded into a DataFrame called tips. For instructional purposes, it has been pre-processed to introduce some 'bad' data for you to clean. Use the .info() method to explore this. You'll note that the total_bill and tip columns, which should be numeric, are instead of type object. Your job is to fix this.

In [5]:
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips['total_bill'], errors='coerce')

# Convert 'tip' to a numeric dtype
tips['tip'] = pd.to_numeric(tips['tip'], errors='coerce')

# Print the info of tips
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB
None

Great work! The 'total_bill' and 'tip' columns in this DataFrame are stored as object types because the string 'missing' is used in these columns to encode missing values. By coercing the values into a numeric type, they become proper NaN values.

# String Manipulations to clean data



Much of data cleaning involves string manipulation
- most of the world's data is unstructured test
- Aso have to do string manipulation to make datasets consistent with one another

re library for pattern matching
Python has many built-in and external libraries for string manipulation.  Python's 're' library for regular expressions on string pattern matching.
- 're' regex library for regular expressions
- formal way of specifying a pattern
- sequence of characters
- pattern matching
- this is similar to globbing

Check and Validate these monetary Values
- 17          \d*
- "$17"       \$\d*
- $17         \$\d*\.\d* *
- '$17.89'    \$\d*\.\d{2}
- $17.895     ^\$\d*\.\d{2}$  states 2 decimal spaces


\d arbitrary number of numeric values
* to match it 0 or more times
\$ escape the dollar sign
$ match the end of the string
\.\ escape the period since '.' has a special meaning in regex
\d{2} - match exactly 2 digits
^ caret - start the pattern match at the beginning of the value
$ dollar - will tell the pattern to match at the end of the value

#### Using regular expressions
- compile the pattern
- use the compiled pattern to match values
- this lets us use the pattern over and over again
- useful since we want to match values down a column of values

In [9]:
import re

# compile a pattern
pattern = re.compile('\$\d*\.\d{2}')

result = pattern.match('$17.89')

In [10]:
bool(result)

True

#### String parsing with regular expressions

In the video, Dan introduced you to the basics of regular expressions, which are powerful ways of defining patterns to match strings. This exercise will get you started with writing them.

When working with data, it is sometimes necessary to write a regular expression to look for properly entered values. Phone numbers in a dataset is a common field that needs to be checked for validity. Your job in this exercise is to define a regular expression to match US phone numbers that fit the pattern of xxx-xxx-xxxx.

The regular expression module in python is re. When performing pattern matching on data, since the pattern will be used for a match across multiple rows, it's better to compile the pattern first using re.compile(), and then use the compiled pattern to match values.

In [13]:
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('\d{3}-\d{3}-\d{4}')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result2 = prog.match('1123-456-7890')
print(bool(result2))

True
False

#### Extracting numerical values from strings

Extracting numbers from strings is a common task, particularly when working with unstructured data or log files.

Say you have the following string: 'the recipe calls for 6 strawberries and 2 bananas'.

It would be useful to extract the 6 and the 2 from this string to be saved for later use when comparing strawberry to banana ratios.

### re.findall()
When using a regular expression to extract multiple numbers (or multiple pattern matches, to be exact), you can use the re.findall() function. Dan did not discuss this in the video, but it is straightforward to use: You pass in a pattern and a string to re.findall(), and it will return a list of the matches.

Write a pattern that will find all the numbers in the following string: 'the recipe calls for 10 strawberries and 1 banana'. To do this:
Use the re.findall() function and pass it two arguments: the pattern, followed by the string.
\d is the pattern required to find digits. This should be followed with a + so that the previous element is matched one or more times. This ensures that 10 is viewed as one number and not as 1 and 0.

In [14]:
# Import the regular expression module
import re

# Find the numeric values: matches
matches = re.findall('\d+', 'the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(matches)

['10', '1']

#### Pattern Matching Practice

A telephone number of the format xxx-xxx-xxxx. You already did this in a previous exercise.

In [15]:
# Write the first pattern
pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

True

Use \$ to match the dollar sign, \d* to match an arbitrary number of digits, \. to match the decimal point, and \d{x} to match x number of digits.

In [16]:
# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45'))
print(pattern2)

True

A capital letter, followed by an arbitrary number of alphanumeric characters.
Use [A-Z] to match any capital letter followed by \w* to match an arbitrary number of alphanumeric characters.

In [17]:
# Write the third pattern
pattern3 = bool(re.match(pattern='[A-Z]\w*', string='Australia'))
print(pattern3)

True

# Complex Cleaning

Cleaning may require multiple steps:
1. Extract Number from String
2. Perform transformation on extracted number
3. Python Function apply()

In [41]:
import numpy as np

df_dict = {'treatment a': [18, 12], 
           'treatment b': [42, 31]}
df = pd.DataFrame(df_dict)

In [42]:
df

   treatment a  treatment b
0           18           42
1           12           31

In [43]:
# get the average value for each treatment down the column

df.apply(np.mean, axis=0)

treatment a    15.0
treatment b    36.5
dtype: float64

In [45]:
# get the average value across each row (for each index)

df.apply(np.mean, axis=1)

0    30.0
1    21.5
dtype: float64

#### Custom functions to clean data

You'll now practice writing functions to clean data.

The tips dataset has been pre-loaded into a DataFrame called tips. It has a 'sex' column that contains the values 'Male' or 'Female'. Your job is to write a function that will recode 'Female' to 0, 'Male' to 1, and return np.nan for all entries of 'sex' that are neither 'Female' nor 'Male'.

Recoding variables like this is a common data cleaning task. Functions provide a mechanism for you to abstract away complex bits of code as well as reuse code. This makes your code more readable and less error prone.

As Dan showed you in the videos, you can use the .apply() method to apply a function across entire rows or columns of DataFrames. However, note that each column of a DataFrame is a pandas Series. Functions can also be applied across Series. Here, you will apply your function over the 'sex' column.

In [ ]:
import re
from numpy import NaN

pattern = re.compile('^\$\d*\.\d{2}$')

# write the function
def diff_money(row, pattern):
    icost = row['Initial Cost']
    tef = row['Total Est. Fee']
    
    # pattern match to make sure they are valid monetary values
    if bool(pattern.match(icost)) and bool(pattern.match(tef)):
        
        # remove dollar sign and replace with empty string
        icost = icost.replace("$", "")
        tef = tef.replace("$", "")
        
        # convert string to a float
        icost = float(icost)
        tef = float(tef)
        
        # return difference in the two values
        return icost - tef
    
    else:
        # return NaN if the pattern did not match
        return(NaN)

In [ ]:
# use the appy() method to use the function we wrote,
# and apply it to a dataframe
# axis=1 to go row wise

df_subset['diff'] = df_subset.apply(diff_money, 
                                    axis=1, 
                                    pattern=pattern)

In [47]:
# Define recode_gender()
def recode_gender(gender):

    # Return 0 if gender is 'Female'
    if gender == 'Male':
        return 1
    
    # Return 1 if gender is 'Male'    
    elif gender == 'Female':
        return 0
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
tips['recode'] = tips.sex.apply(recode_gender)

# Print the first five rows of tips
print(tips.head())

   total_bill   tip     sex smoker  day    time  size recode
0       16.99  1.01  Female     No  Sun  Dinner     2      0
1       10.34  1.66    Male     No  Sun  Dinner     3      1
2       21.01  3.50    Male     No  Sun  Dinner     3      1
3       23.68  3.31    Male     No  Sun  Dinner     2      1
4       24.59  3.61  Female     No  Sun  Dinner     4      0

Well done! For simple recodes, you can also use the replace method. You can also convert the column into a categorical type.

#### Lambda functions

You'll now be introduced to a powerful Python feature that will help you clean your data more effectively: lambda functions. Instead of using the def syntax that you used in the previous exercise, lambda functions let you make simple, one-line functions.

For example, here's a function that squares a variable used in an .apply() method:

def my_square(x):
    return x ** 2

df.apply(my_square)
The equivalent code using a lambda function is:

df.apply(lambda x: x ** 2)
The lambda function takes one parameter - the variable x. The function itself just squares x and returns the result, which is whatever the one line of code evaluates to. In this way, lambda functions can make your code concise and Pythonic.

The tips dataset has been pre-loaded into a DataFrame called tips. Your job is to clean its 'total_dollar' column by removing the dollar sign. You'll do this using two different methods: With the .replace() method, and with regular expressions. The regular expression module re has been pre-imported.

In [50]:
tips.head()

   total_bill   tip     sex smoker  day    time  size recode
0       16.99  1.01  Female     No  Sun  Dinner     2      0
1       10.34  1.66    Male     No  Sun  Dinner     3      1
2       21.01  3.50    Male     No  Sun  Dinner     3      1
3       23.68  3.31    Male     No  Sun  Dinner     2      1
4       24.59  3.61  Female     No  Sun  Dinner     4      0

In [48]:
# Write the lambda function using replace

tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

AttributeError: 'DataFrame' object has no attribute 'total_dollar'

Complete the rest of the lambda function and apply it over the 'total_dollar' column of tips. Notice that because re.findall() returns a list, you have to slice it in order to access the actual value.

In [51]:
# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])

# Print the head of tips
print(tips.head())

AttributeError: 'DataFrame' object has no attribute 'total_dollar'

# Duplicate Data .drop_duplicates()

- Duplicates and skew results
- drop_duplicates() Method

In [ ]:
df = df.drop_duplicates()

# Missing Data .dropna()

- NaN Missing Values in data
- leave as is
- drop them
- fill using panda agg functions

Data may be missing randomly

tips.info() method to see how many missing values there are in each columns

Dropping columns is possible if there are a lot of missing values in those columns

In [ ]:
tips_dropped = tips_nan.dropna()

# Fill missing values with .fillna() 

- Fill with provided value
- Use a summary stat (mean, med)

In [52]:
tips_nan['sex'] = tips_nan['sex'].fillna('missing')

# recode missing values for multiple columns use [[]]
# recoding missing values in these columns to 0
tips_nan[['total_vill', 'size']] = tips_nan[['total_bill', 
                                             'size']].fillna(0)

NameError: name 'tips_nan' is not defined

# Fill missing values with test statistic

- Careful when using test statistics to fill
- Have to make sure the value you are filling in makes sense
- median is a better statistic in the presence of outliers

In [ ]:
mean_value = tips_nan['tip'].mean()

tips_nan['tip'] = tips_nan['tip'].fillna(mean_value)

#### Dropping duplicate data

Duplicate data causes a variety of problems. From the point of view of performance, they use up unnecessary amounts of memory and cause unneeded calculations to be performed when processing data. In addition, they can also bias any analysis results.

A dataset consisting of the performance of songs on the Billboard charts has been pre-loaded into a DataFrame called billboard. Check out its columns in the IPython Shell. Your job in this exercise is to subset this DataFrame and then drop all duplicate rows.

In [ ]:
# Create the new DataFrame: tracks
tracks = billboard[['year', 'artist', 'track', 'time']]

# Print info of tracks
print(tracks.info())

# Drop the duplicates: tracks_no_duplicates
tracks_no_duplicates = tracks.drop_duplicates()

# Print info of tracks
print(tracks_no_duplicates.info())

#### Filling missing data

Here, you'll return to the airquality dataset from Chapter 2. It has been pre-loaded into the DataFrame airquality, and it has missing values for you to practice filling in. Explore airquality in the IPython Shell to checkout which columns have missing values.

It's rare to have a (real-world) dataset without any missing values, and it's important to deal with them because certain calculations cannot handle missing values while some calculations will, by default, skip over any missing values.

Also, understanding how much missing data you have, and thinking about where it comes from is crucial to making unbiased interpretations of data.

In [55]:
airquality = pd.read_csv('./data/airquality.csv')

In [56]:
airquality.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [59]:
# Calculate the mean of the Ozone column: oz_mean
oz_mean = airquality.Ozone.mean()

# Replace all the missing values in the Ozone column with the mean
airquality['Ozone'] = airquality['Ozone'].fillna(oz_mean)

# Print the info of airquality
print(airquality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      153 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB
None

# Asserts

Testing with Asserts
- Programmatically check data, vs. visually checking data
- if we drop or fill NaNs, we epect 0 missing values
- we can write an assert statement to verify this
- we can detect early warnings and errors
- gives confidence that our code is running correctly


If Assert is True, it returns nothing
If Assert returns False, you will get an error message

In [60]:
assert 1 == 1

In [61]:
assert 1 == 2

AssertionError:

In [ ]:
# notnull() method to check for missing values.  return True if not null
# all() chain to check if all values is not null

assert google.Close.notnull().all()

#### Testing your data with asserts

Here, you'll practice writing assert statements using the Ebola dataset from previous chapters to programmatically check for missing values and to confirm that all values are positive. The dataset has been pre-loaded into a DataFrame called ebola.

In the video, you saw Dan use the .all() method together with the .notnull() DataFrame method to check for missing values in a column. The .all() method returns True if all values are True. When used on a DataFrame, it returns a Series of Booleans - one for each column in the DataFrame. So if you are using it on a DataFrame, like in this exercise, you need to chain another .all() method so that you return only one True or False value. When using these within an assert statement, nothing will be returned if the assert statement is true: This is how you can confirm that the data you are checking are valid.

Note: You can use pd.notnull(df) as an alternative to df.notnull().

In [62]:
ebola = pd.read_csv('./data/ebola.csv')

In [63]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [64]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

- Write an assert statement to confirm that there are no missing values in ebola.
- Use the pd.notnull() function on ebola (or the .notnull() method of ebola) and chain two .all() methods (that is, .all().all()). The first .all() method will return a True or False for each column, while the second .all() method will return a single True or False.

In [65]:
assert ebola.notnull().all()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [77]:
(ebola >= 0).head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,True,True,True,False,True,False,False,False,False,False,True,False,True,False,False,False,False,False
1,True,True,True,False,True,False,False,False,False,False,True,False,True,False,False,False,False,False
2,True,True,True,True,True,False,False,False,False,False,True,True,True,False,False,False,False,False
3,True,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False
4,True,True,True,True,True,False,False,False,False,False,True,True,True,False,False,False,False,False

In [78]:
(ebola >= 0).all()

Date                    True
Day                     True
Cases_Guinea           False
Cases_Liberia          False
Cases_SierraLeone      False
Cases_Nigeria          False
Cases_Senegal          False
Cases_UnitedStates     False
Cases_Spain            False
Cases_Mali             False
Deaths_Guinea          False
Deaths_Liberia         False
Deaths_SierraLeone     False
Deaths_Nigeria         False
Deaths_Senegal         False
Deaths_UnitedStates    False
Deaths_Spain           False
Deaths_Mali            False
dtype: bool

In [79]:
(ebola >= 0).all().all()

False

In [70]:
assert (ebola > 0).all().all()

AssertionError:

In [74]:
assert ebola.notnull().all().all()

AssertionError: